{{<layout}}

{{$pageTitle}}Register my dog{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header group start-header full-width">
    <div class="title">
      <h1>Confirm your dogs' details</h1>
    </div>
  </header>

  <div class="start-container full-width start-page">
    <p>Name: Chester</p>
    <p>Date of birth: 17th August 2010</p>
    <p>Breed: Boxer</p>
    <p>Colour: Brindle</p>
    <p><a href="dog_id_number.html" type="submit" value="Apply now" class="button medium">Confirm</a></p>
  </div>
</main>
{{/content}}

{{/layout}}
