{{<layout}}

{{$pageTitle}}Register my dog{{/pageTitle}}

{{$content}}
<main id="content" role="main">
    <header class="page-header group start-header full-width">
        <div class="title">
            <h1>Registration complete</h1>
        </div>
    </header>

    <div class="start-container full-width start-page">
        <p>Your registration number is goldenbananahousecaravan</p>
        <p><a href="enter_microchip_number.html" type="submit" value="Register another dog" class="button medium">Register another dog</a></p>
    </div>
</main>
{{/content}}

{{/layout}}