{{<layout}}

{{$pageTitle}}Register your dog{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header group start-header full-width">
    <div class="title">
      <h1>Do you have a microchip number?</h1>
    </div>
  </header>

  <div class="start-container full-width start-page">
    <p><a href="yes_microchip_number.html" type="submit" value="yes" class="button medium">Yes</a></p>
    <p><a href="no_microchip_number.html" type="submit" value="no" class="button medium">No</a></p>

    <details>
      <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="false"><span class="summary">Help with microchip number</span></summary>
      <div class="panel-indent" id="details-content-0" aria-hidden="true" style="display: none;">
        <p>This is the 15 digit number on your dogs microchip document you will have received from your vet.</p>
      </div>
    </details>
  </div>
</main>
{{/content}}

{{/layout}}
