{{<layout}}

{{$pageTitle}}Register my dog{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header group start-header full-width">
    <div class="title">
      <h1>Register your dog</h1>
    </div>
  </header>

  <div class="start-container full-width start-page">
    <section class="primary-apply" aria-labelledby="primary-apply-label">
      <div class="eligibility-check">
        <p class="this-is-a-beta">This is a 'beta' service - find out <a href="/help/beta">what this means for you</a>.</p>
        <p>To apply online you'll need either:</p>

        <ul>
          <li>the 15 digit unique microchip code, or</li>
          <li>the details of your dog</li>
        </ul>
      </div>
      <p><a href="enter_microchip_number.html" type="submit" value="Apply now" class="button medium">Apply now</a></p>
    </section>
  </div>
</main>
{{/content}}

{{/layout}}
