{{<layout}}

{{$pageTitle}}Register my dog{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header group start-header full-width">
    <div class="title">
      <h1>Enter your dogs' details</h1>
    </div>
  </header>

  <div class="start-container full-width start-page">
    <div class="form-group">
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Name</label>
        <input type="text" class="form-control" id="full-name">
      </div>
      <br/>
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Date of Birth</label>
        <input type="text" class="form-control" id="full-name">
      </div>
      <br/>
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Breed</label>
        <input type="text" class="form-control" id="full-name">
      </div>
      <br/>
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Colour</label>
        <input type="text" class="form-control" id="full-name">
      </div>
    </div>
    <p><a href="confirm_microchip.html" type="submit" value="Apply now" class="button medium">Next</a></p>
  </div>
</main>
{{/content}}

{{/layout}}
