{{<layout}}

{{$pageTitle}}Register my dog{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header group start-header full-width">
    <div class="title">
      <h1>Enter your microchip number</h1>
    </div>
  </header>

  <div class="start-container full-width start-page">
    <div class="form-group">
      <p class="form-hint">As shown on your dogs' microchip certificate or passport</p>
      <input type="text" class="form-control" id="full-name">
    </div>
    <p><a href="confirm_microchip.html" type="submit" value="Apply now" class="button medium">Find</a></p>
  </div>
</main>
{{/content}}

{{/layout}}
